
/*==================== Card Details ==============*/
.portlet-title {
	margin: 15px;
    border-bottom: 1px solid #eee;
    min-height: 50px;
	>.caption {
		display: inline-block;
		font-size: 18px;
		line-height: 18px;
		
		.font-blue-soft{
			color: #4c87b9;
		}
		>i {
			display: inline-block;
			font-size: 20px;
			margin-#{$left}: 15px;
	
			.font-blue-soft{
				color: #4c87b9;
			}
		}
		>.caption-subject {
			font-size: 35px;
		}
	}
	.actions ul li{
		display: inline-block;
		list-style: none;
		margin-#{$right}: 15px;
	   a{
		padding: 10px 25px;
        border: 1px solid #4c87b9;
        border-radius: 25px;
    	color: #4c87b9;
		&:hover{
			color:#fff;
			background: #4c87b9;
			border: 1px solid #4c87b9;
			text-decoration: none;
		}
	
		 }
		
	}
	.actions ul li.font-orange a{
		background-color: #ff9f55;
		border-color: #ff9f55;
		color:#fff;
		&:hover{
			background-color: #fff;
			border-color: #ff9f55;
			color: #ff9f55;
		}
	}
}

/* ------ Table -------*/
.check-boxx {
	padding: 20px;
	.control {
		display: block;
		position: relative;
		line-height: 42px;
		padding-#{$right}: 49px;
		cursor: pointer;
		font-size: 18px;
		font-weight: 600;
	input {
			position: absolute;
			z-index: -1;
			opacity: 0;
			&:checked ~ .control__indicator {
				background: #5cb85c;
			}
			&:checked ~ .control__indicator:after {
				display: block;
			}
			
		}
	}
	.control__indicator {
		position: absolute;
		top: 2px;
		#{$right}: 0;
		height: 35px;
		width: 35px;
		background: #e6e6e6;
		&:after {
			content: '';
			position: absolute;
			#{$left}: 11px;
			top: 4px;
			width: 10px;
			height: 20px;
			border: solid #fff;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}
}
.tableDetails {
	padding: 20px;
    table tbody tr th{
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		line-height: 2.5;
	}
	td{
		font-size: 20px;
		font-weight: 600;
		line-height: 2.5;
	}
	 td button.red.btn {
		color: #FFFFFF;
		background-color: #cb5a5e;
		padding: 5px 10px;
		i{
			line-height: 1.5;
		}
	
		
	}
	td button.yellow.btn{
		color: #FFFFFF;
		background-color: #a48334;
		padding: 5px 8px;
		margin-#{$right}: 10px;
	}
	
}