<app-breadcrumb [list]="breadCrumbItems"></app-breadcrumb>

<div class="block-div">
  <div class="apex-form">
    <form>
      <div class="row">
      <div class="form-group col-md-2">
        <label for="code">{{ 'lookups.measruingUnit.code' | translate }}</label>
        <input type="text" class="form-control" id="code" placeholder="{{ 'lookups.measruingUnit.code' | translate }}">
      </div>
        <div class="form-group col-md-2">
          <label for="name">{{ 'lookups.measruingUnit.name' | translate }}</label>
          <input type="text" class="form-control" id="name" placeholder="{{ 'lookups.measruingUnit.name' | translate }}">
        </div>

        <div class="col-md-2">
          <button class="button dark"><i class="fas fa-eraser"></i></button>
          <button class="button">{{ 'shared.search' | translate }}</button>
        </div>


      </div>
    </form>
  </div>
</div>


<div class="block-div">
  <div class="side-links float-oppo-dir">
    <a data-toggle="modal" data-target="#modalForm"><i class="fas fa-plus-circle"></i></a>
  </div>
  <h2>{{ 'lookups.measruingUnit.pageTitle' | translate }}</h2>

  <div class="customized-table-holder">
    <table>
      <thead>
      <tr>
        <th>
          {{ 'lookups.measruingUnit.table.code' | translate }}
          <app-sort></app-sort>
        </th>
        <th>
          {{ 'lookups.measruingUnit.table.name' | translate }}
          <app-sort></app-sort>
        </th>
        
        <th>
          {{ 'shared.status' | translate }}
          <app-sort></app-sort>
        </th>

        <th>
          {{ 'shared.options' | translate }}

        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items | paginate: config">
        <td>
          1
        </td>
        <td>
          قطعه
        </td>
        <td>
            <label class="switch">
              <input data-toggle="modal" data-target="#popup" type="checkbox" >
              <span class="slider"></span>
            </label> 
          </td>
        <td>
          <a data-toggle="modal" data-target="#modalForm" [attr.title]="'shared.edit' | translate " style="margin:5px;">
            <i class="fas fa-pen"></i>
          </a>

        </td>
      </tr>


      </tbody>
    </table>
  </div>
  <div class="pagination-holder">
      <pagination-controls
        class="my-pagination"
        previousLabel=""
        nextLabel=""
        (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="popup"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'shared.confirm' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'shared.confirmMessage' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button class="button" data-dismiss="modal">{{ 'shared.yes' | translate }}</button>
        <button class="button dark" data-dismiss="modal">{{ 'shared.no' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalForm"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'lookups.measruingUnit.addEdit.header' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="apex-form">
          <form>
            <!--name ,code,phone number -->
            <div class="block-div">

               <div class="form-group row"> 
                    <div class="col-md-9 flex-box">
                      <label for="measruingUnitNameAr" class="inline-label">{{ 'lookups.measruingUnit.addEdit.nameAr' | translate }}</label>
                      <input type="text" class="form-control" id="measruingUnitNameAr" placeholder="{{ 'lookups.measruingUnit.addEdit.nameAr' | translate }}">
                    </div>
             </div>
             <div class="form-group row">    
                <div class="col-md-9 flex-box">
                    <label for="measruingUnitNameEn" class="inline-label">{{ 'lookups.measruingUnit.addEdit.nameEn' | translate }}</label>
                    <input type="text" class="form-control" id="measruingUnitNameEn" placeholder="{{ 'lookups.measruingUnit.addEdit.nameEn' | translate }}">
                  </div>
             </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="button" data-dismiss="modal">{{ 'shared.save' | translate }}</button>
        <button class="button dark" data-dismiss="modal">{{ 'shared.cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>
