<div class="height750">
    <app-breadcrumb [list]="breadCrumbItems"></app-breadcrumb>
    <form>
      <div class="block-div">
        <h2> <i class="fas fa-info-circle"></i> {{ 'stockManagement.inventoryAdd.pageTitle' | translate }}</h2>
        <div class="apex-form">
          <div class="form-group row">
            <div class="col-md-3 flex-box">
              <label for="branch" class="inline-label">{{ 'stockManagement.inventoryAdd.codeStock' | translate }}: </label>
              <div class="select-box">
                مخزن 
              </div>
            </div>
            <div class="col-md-3 flex-box">
                <label for="" class="inline-label">{{ 'shared.fromDate' | translate }}</label>: 
                <div class="select-box">
                  5/5/2005 
                </div>
              </div>
              <div class="col-md-3 flex-box">
                  <label for="" class="inline-label">{{ 'shared.toDate' | translate }}</label>: 
                  <div class="select-box">
                    5/5/2005 
                  </div>
                </div>
        </div>
      </div>
    </div>
      <div class="block-div">
        <h2><i class="fab fa-product-hunt"></i> {{ 'stockManagement.inventoryAdd.categories' | translate }}</h2>
        <div class="apex-form">
          <div class="customized-table-holder">
            <table>
              <thead>
                <th>{{ 'stockManagement.inventoryAdd.table.code' | translate }}</th>
                <th>{{ 'stockManagement.inventoryAdd.table.brand' | translate }}</th>
                <th>{{ 'stockManagement.inventoryAdd.table.spendQuantity' | translate }}</th>
                <th>{{ 'stockManagement.inventoryAdd.table.restQuantity' | translate }}</th>
                <th>{{ 'stockManagement.inventoryAdd.table.totalQuantity'     | translate }}</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of list">
                  <td>{{item.code}}</td>
                  <td>{{item.brand  }}</td>
                  <td> {{item.spendQuantity  }} </td>
                  <td>{{item.restQuantity  }} </td>
                  <td> {{item.totalQuantity  }} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="block-div">
        <h2><i class="fas fa-money-check-alt"></i> {{ 'stockManagement.inventoryAdd.total' | translate }}</h2>
        <div class="apex-form">
          <div class="form-group row">
            <div class="col-md-3 flex-box">
              <label for="code" class="inline-label"> {{ 'stockManagement.inventoryAdd.totalQuantity' | translate }}: 2555</label>
              
            </div>
            <div class="col-md-3 flex-box">
              <label for="code" class="inline-label">{{ 'stockManagement.inventoryAdd.totalValue' | translate }}: 2555</label>
            </div>
            <div class="col-md-3 flex-box">
              <label for="code" class="inline-label">{{ 'stockManagement.inventoryAdd.totalSectoral' | translate }}: 2555</label>
              
            </div>
            <div class="col-md-3 flex-box">
              <label for="code" class="inline-label">{{ 'stockManagement.inventoryAdd.totalAll' | translate }}: 2555</label>
              
            </div>
          </div>
        </div>
      </div>
 
      <br>
      <br>
      <br>
    </form>
  </div>