<div class="sideNav">
    <ul>
      <li><a class="cus-nav-link" routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i>{{ 'sideNav.home' | translate }}</a></li>
      <li routerLinkActive="active"><a class="cus-nav-link"><i class="fas fa-info"></i>{{ 'sideNav.basicData' | translate }}</a>
        <ul>
         <li><a  [routerLink]="'/'+FullRoutes.PURCHASES_MODULE+'/'+FullRoutes.LOOKUPS+'/'+FullRoutes.LOOKUP" routerLinkActive="active"><i class="fas fa-asterisk"></i>{{'sideNav.lookup' | translate }}</a></li>
         <li><a  [routerLink]="'/'+FullRoutes.PURCHASES_MODULE+'/'+FullRoutes.SYSTEM_DATA+'/'+FullRoutes.CATEGORY_LIST" routerLinkActive="active"><i class="fas fa-server"></i>{{ 'sideNav.category' | translate }}</a></li>
         <li><a  [routerLink]="'/'+FullRoutes.PURCHASES_MODULE+'/'+FullRoutes.SYSTEM_DATA+'/'+FullRoutes.STOCK_LIST" routerLinkActive="active"><i class="fas fa-boxes"></i>{{ 'sideNav.stock' | translate }}</a></li>
     
    
         <li><a [routerLink]="'/'+FullRoutes.PURCHASES_MODULE+'/'+FullRoutes.BRANCHES_MODULE+'/'+FullRoutes.BRANCH_LIST" routerLinkActive="active"><i class="fas fa-store"></i>{{ 'sideNav.branches' | translate }}</a></li>
        </ul>
        </li>
  
    <!--     <li routerLinkActive="active"><a class="cus-nav-link"><i class="fas fa-hand-holding-usd"></i>{{ 'sideNav.suppliersManagement.title' | translate }}</a>
          <ul>
            <li><a [routerLink]="'/'+FullRoutes.PURCHASES_MODULE+'/'+FullRoutes.SUPPLIER_MODULE+'/'+FullRoutes.ADD_SUPPLIER" routerLinkActive="active">{{ 'sideNav.suppliersManagement.addSupplier' | translate }}</a></li>
            
          </ul>
          </li> -->
<!--      <li routerLinkActive="active"><a class="cus-nav-link"><i class="fas fa-shield-alt"></i>{{ 'sideNav.safeBox' | translate }}</a>
      <ul>
        <li><a routerLink="/purchases/safeBoxTrans/add" routerLinkActive="active"><i class="fas fa-random"></i>{{ 'sideNav.addSafeBoxTrans' | translate }}</a></li>
        <li><a routerLink="/purchases/safeBoxTrans/safeBoxTrans" routerLinkActive="active"><i class="fas fa-tasks"></i>{{ 'sideNav.safeBoxTransList' | translate }}</a></li>
      </ul>
      </li> -->
      <li routerLinkActive="active"><a class="cus-nav-link"><i class="fas fa-home"></i>{{ 'sideNav.purchasing' | translate }}</a>
        <ul>
            <!-- <li><a routerLink="/purchases/dashboard" routerLinkActive="active">{{ 'sideNav.dashboard' | translate }}</a></li> -->
          <li><a routerLink="/purchases/add" routerLinkActive="active">{{ 'sideNav.invoice.add' | translate }}</a></li>
          <li><a routerLink="/purchases/list" routerLinkActive="active">{{ 'sideNav.invoice.list' | translate }}</a></li>
          <li><a routerLink="/purchases/purchaseRebate/add" routerLinkActive="active">{{ 'sideNav.rebate.add' | translate }}</a></li>
          <li><a routerLink="/purchases/purchaseRebate/list" routerLinkActive="active">{{ 'sideNav.rebate.list' | translate }}</a></li>
          <li><a [routerLink]="'/'+FullRoutes.PURCHASES_MODULE+'/'+FullRoutes.SUPPLIER_MODULE+'/'+FullRoutes.SUPPLIER_LIST" routerLinkActive="active">{{ 'sideNav.suppliersManagement.supplierAccountsView' | translate }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
  